.menu {
  text-align: center;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  height: 7vh;
  font-size: 2rem;

  .title {
    margin-right: 20px;
    height: 80px;
    width: 80px;
    font-family: "Righteous", cursive;
    text-decoration: none;
    text-emphasis: none;
    border-radius: 50%;
    border: 2px solid ;

    @media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
      height: 50px;
      width: 50px;
    }
  }

  a{
    color: black;
    text-decoration: none;
  }
}

