.menu {
  background-color: rgba(231, 233, 235, 0.219);
  text-align: center;
  position: fixed;
  width: 100vw;
  z-index: 1000;
 padding-top: 0.5vh;
  height: 7vh;
  font-size: 2rem;

  .black {
    color: black;
  }
  .blue {
    color: blue;
  }
  .red {
    color: red;
  }
  .title {
    height: 100px;
    width: 100px;
    font-family: "Righteous", cursive;
    text-decoration: none;
    text-emphasis: none;
    border-radius: 50%;
    border: 2px solid ;

    .black {
      color: black;
    }
    .blue {
      color: blue;
    }
    .red {
      color: red;
    }
  }
}

