.menu {
  background-color: rgba(231, 233, 235, 0.219);
  text-align: center;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  margin: 0;
  height: 5vh;
  font-size: 2rem;
  .title {
    font-family: "Righteous", cursive;
    text-decoration: none;
    text-emphasis: none;

    .black {
      color: black;
    }
    .blue {
      color: blue;
    }
    .red {
      color: red;
    }
  }
}

