.about-section {
  margin-top: 10px;
  background-color: white;
  padding-bottom: 10px;

  .about-header {
    margin-left: 10px;
    font-family: "Open Sans Condensed", sans-serif;
    font-family: "Righteous", cursive;
    font-size: 25px;
    font-weight: 400;
  }

  .about-text {
    font-family: "Ubuntu", sans-serif;
    padding: 10px;
  }

  .tech-stack {
    margin: 10px;
  }
}
